* {
  box-sizing: border-box;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1441px;
  margin: {
    left: auto;
    right: auto;
  }
}

.nav-links {
  ul {
    li {
      display: inline;
    }
  }
}

@mixin rowStyle {
  display: flex;
  max-width: 1441px;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.top-row, .bottom-row {
  @include rowStyle;
}

@mixin columnStyle {
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
}

.column {
  @include columnStyle;
}

.main-images {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
