$light-gray: #ddd;

* {
  box-sizing: border-box;
  font-family: helvetica, sans-serif;
}

body {
  font-size: 12px;
}

.full-width-nav {
  margin-bottom: 60px;
  border-bottom: 1px solid $light-gray;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1441px;
  height: 44px;
  margin: {
    left: auto;
    right: auto;
  }
  img {
    height: 15px;
    display: inline-block;
    width: auto;
  }
}


.nav-links {
  display: flex;
  margin-left: 15%;
  ul {
    list-style-position: inside; padding-left: 0;
    li {
      display: inline;
      width: (100% / 6);
      padding: 10px;
    }
    a {
      color: black;
      text-decoration: none;
      &:hover {
        color: $light-gray;
      }
    }
  }
}

#red {
  color: red;
  &:hover {
    color: $light-gray;
  }
}

.nav-signin-shop {
  display: flex;
  justify-content: space-between;
  width: 15%;
  color: $light-gray;
  a {
    color: #aaa;
    text-decoration: none;
    &:hover {
      color: black;
    }
  }
}

@mixin rowStyle {
  display: flex;

  height: auto;
  max-width: 1441px;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.top-row, .bottom-row {
  @include rowStyle;
}

@mixin columnStyle {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;

}

.column {
  @include columnStyle;
}

.main-images {
  max-width: 100%;
  height: auto;
  display: inline-block;
  &:hover {
    opacity: 0.75;
    cursor: pointer;
  }
}

.button-row {
  display: inline-flex;
  list-style: none;
  flex-direction: row;
  justify-content: center;
  position: relative;
  bottom: 68px;
  list-style-position: inside; padding-left: 0;
  margin-bottom: -20px;
}

.buttonFalse {
  background-color: white;
  padding: 8px 25px 7px 25px;
  letter-spacing: .09rem;
  opacity: 0.9;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}
